# Dependencies
node_modules
.pnpm-store

# Turbo & Build Outputs
.turbo
dist
build
.next
out
.expo
.expo-shared
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment / Credentials
.env
.env*.local
*.pem
